nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #333; 
    color: #fff; 
    padding: 30px; 
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%;
}

.container {
    text-align: center;
    margin-top: 80px; 
    position: relative; 
    height: calc(100vh - 20px); 
}

h1 {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -10px;
    margin-left: -50px;
}

h2 {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    margin-left: -50px;
}

button {
    background-color: #555; 
    color: #fff;
    padding: 10px 20px;
    border: none; 
    cursor: pointer; 
}

button:hover {
    background-color: #777; 
}


body {
    margin-top: 90px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

h3 {
    color: #ff0000;
}

p {
    color: #333;
    margin-bottom: 20px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; 
    position: fixed;
    width: 100%; 
    bottom: 0; 
    right: 0;
}

h4 {
    color: #ffffff;
    font-weight: bold;
}
