<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_error.css') }}">
</head>
<body>
    <nav>
        <h1>Keamanan Informasi</h1>
        <h2>Enkripsi-Dekripsi</h2>
        <button onclick="window.history.back();">Kembali</button>
    </nav>
    <h3>Error</h3>
    <p>Terjadi kesalahan saat melakukan dekripsi. Pastikan cipher text dan kunci yang Anda masukkan valid.</p>
    <a href="/">Kembali ke Halaman Utama</a>
    <footer>
        <h4>Alpi Darul Hakim - 217006044</h4>
    </footer>
</body>
</html>
